<div id="container">
    <section id="hero">
        <h1 class="text-blue-700 font-black text-center justify-center justify-items-center text-3xl">Hello we're ACN!</h1>
        <h1 class="text-9xl font-bold text-black text-center">Jazhper Mendez</h1>
        <p class="text-[#3d3cbf] font-bold text-center text-[200px]">Kobi Martin</p>
        <p class="text-black font-bold text-center text-7xl">Lance Vicencio</p>
        <p class="text-pink-300 font-bold text-center text-6xl">Yents Amerna</p>
        <p class="text-black font-bold text-center text-7xl">Daril Iremedio</p>
        <p class="text-green-600 font-bold text-center text-8xl">Kenneth De Goonman</p>
        <p class="text-pink-600 font-bold text-center text-6xl">Auri Velasco</p>
        <p class="text-black-500 font-extralight text-center text-2xl">Francis Lucban</p>

        <a class="md:flex items-center gap-2 py-3 px-6 
        font-medium border border-[#242323] 
        rounded-4xl cursor-pointer no-underline [transition:background_0.2s,transform_0.15s] text-white bg-[#242323] hover:bg-[#333] -translate-y-px" href="/about/">Lucky</a>

        <a class="cursor-pointer hover:text-indigo-700 transition duration-200 ease-in text-9xl" href="/about/">About</a>
    </section>
</div>